:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --color-footer: #2f303a;
  --accent-text-color: #000000;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --color-section: #f5f4fa;
  --icons-color: #afb1b8;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --section-pt: 94px;
  --section-pb: 94px;
  --section-pt-mobile: 60px;
  --section-pb-mobile: 40px;
  --padding-mobile: 30px;
  --title-padding: 20px;
  --items-studio-bg: rgba(47, 48, 58, 0.8);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .connection__list {
    display: none;
  }
  .navigation__list {
    display: none;
  }
  .burger__button,
  .mobile-menu__close-button {
    border: none;
    background-color: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .burger__button:focus, .burger__button:hover,
  .mobile-menu__close-button:focus,
  .mobile-menu__close-button:hover {
    fill: var(--accent-color);
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  .burger__icon {
    fill: var(--accent-text-color--);
  }
  .mobile-menu__close-icon {
    width: 19px;
    height: 19px;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    z-index: 2;
    background-color: var(--background-color);
    padding: 48px 40px;
    -webkit-transform: translateY(-100%) translateX(-50%);
            transform: translateY(-100%) translateX(-50%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
    overflow-x: scroll;
  }
  .mobile-menu__item:not(:last-child) {
    padding-bottom: 32px;
  }
  .mobile-menu_link {
    color: var(---background-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__item .mobile-menu_link:hover,
  .mobile-menu__item .mobile-menu_link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__contacts-list {
    margin-bottom: 64px;
  }
  .mobile-menu__contacts-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .mobile-menu__contacts-item:nth-child(1) {
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .mobile-menu__contacts {
    position: fixed;
    bottom: 48px;
  }
  .mobile-menu__contacts-link {
    color: var(--primary-text-color);
  }
  .mobile-menu__contacts-link:hover, .mobile-menu__contacts-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu_social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-menu__socil-item {
    padding: 0 10px;
  }
  .mobile-menu__socil-item:first-child {
    padding-left: 0px;
  }
  .mobile-menu__socil-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__socil-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--accent-color);
  }
}

.footer {
  background-color: var(--color-footer);
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pt-mobile);
}

.footer__box {
  margin-bottom: var(--section-pb-mobile);
}

@media screen and (max-width: 1199px) {
  .footer__box {
    text-align: center;
  }
}

.footer__link {
  display: inline-block;
}

@media screen and (max-width: 1199px) {
  .footer__link {
    margin-bottom: var(--title-padding);
  }
}

@media screen and (max-width: 1199px) {
  .icon-footer {
    margin-bottom: var(--section-pt);
  }
}

.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: var(--title-padding);
}

@media screen and (max-width: 1199px) {
  .join-us {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    margin-right: 70px;
    margin-bottom: 0px;
    padding-bottom: 0;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__header {
  color: var(--accent-text-color);
}

.logo__footer {
  color: var(--background-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .burger__button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
  .navigation__item {
    position: relative;
  }
  .navigation__item:not(:first-child) {
    margin-left: 50px;
  }
  .navigation__link {
    display: block;
    color: var(---background-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation .navigation__link:hover,
  .navigation .navigation__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 94px;
  }
  .navigation__item {
    position: relative;
  }
  .navigation__item:not(:first-child) {
    margin-left: 50px;
  }
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connection__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
  }
  .connection__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.connection__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__link:hover, .connection__link:focus {
  color: var(--accent-color);
}

.connection__icon {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__link:hover .connection__icon,
.connection__link:focus .connection__icon {
  fill: var(--accent-color);
}

.outline {
  outline: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .connection__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 305px;
  }
}

.connection__item:not(:last-child) {
  margin-right: 30px;
}

.connection__link {
  font-size: 14px;
  line-height: 1.14;
}

.hero {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/img-1-mobile.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/img-1-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 480px;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/img-1-mobile@2x.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/img-1-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/img-1-tablet.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/img-1-tablet.jpg);
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/img-1-tablet@2x.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/img-1-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/img-1-desctop.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/img-1-desctop.jpg);
    padding: 200px 0;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/img-1-desctop@2x.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/img-1-desctop@2x.jpg);
  }
}

.hero__title {
  display: block;
  color: var(--background-color);
  margin: auto;
  padding-bottom: var(--padding-mobile);
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    color: var(--background-color);
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  display: block;
  margin: auto;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.advantage {
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pt-mobile);
}

.advantage__item:not(:last-of-type) {
  padding-bottom: var(--padding-mobile);
}

.advantage__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  max-width: 480px;
  min-height: 120px;
  background-color: var(--color-section);
  margin-bottom: 30px;
}

.advantage__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .advantage__title {
    text-align: center;
  }
}

.advantage__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--padding-mobile));
    margin-top: calc(-1 * var(--padding-mobile));
  }
  .advantage__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--padding-mobile));
        flex-basis: calc(100% / 2 - var(--padding-mobile));
    margin-left: var(--padding-mobile);
    margin-top: var(--padding-mobile);
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
  }
  .advantage__item {
    -ms-flex-preferred-size: calc(100% / 4 - var(--padding-mobile));
        flex-basis: calc(100% / 4 - var(--padding-mobile));
    margin-left: var(--padding-mobile);
    margin-top: var(--padding-mobile);
  }
}

@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .occupation {
    padding-bottom: var(--section-pb);
  }
  .occupation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: calc(-1 * var(--padding-mobile));
    margin-top: calc(-1 * var(--padding-mobile));
  }
  .occupation__item {
    position: relative;
    -ms-flex-preferred-size: calc(100% / 3 - var(--padding-mobile));
        flex-basis: calc(100% / 3 - var(--padding-mobile));
    margin-left: var(--padding-mobile);
    margin-top: var(--padding-mobile);
  }
  .occuation__title {
    color: var(--accent-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
  .occupation__development {
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: var(--items-studio-bg);
    color: var(--background-color);
  }
}

.team {
  background-color: var(--color-section);
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pt-mobile);
}

.team__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: var(--padding-mobile);
}

.team__item {
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: var(--padding-mobile);
}

.team__box {
  background-color: var(--background-color);
  padding: 30px 24px;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team__proffession {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--padding-mobile));
    margin-top: calc(-1 * var(--padding-mobile));
  }
  .team__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--padding-mobile));
        flex-basis: calc(100% / 2 - var(--padding-mobile));
    margin-left: var(--padding-mobile);
    margin-top: var(--padding-mobile);
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pt);
  }
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 0;
    margin-bottom: 50px;
  }
  .team__item {
    -ms-flex-preferred-size: calc(100% / 4 - var(--padding-mobile));
        flex-basis: calc(100% / 4 - var(--padding-mobile));
    margin-left: var(--padding-mobile);
    margin-top: var(--padding-mobile);
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--icons-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: 250ms cubic-bezier 0.4, 0, 0.2, 1;
}

.socials__link:focus, .socials__link:hover {
  fill: var(--background-color);
  background-color: var(--accent-color);
}

.socials__link-color_white {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-color);
  margin-right: 10px;
}

.clients {
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pb-mobile);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--padding-mobile));
  margin-top: calc(-1 * var(--padding-mobile));
}

.clients__items {
  -ms-flex-preferred-size: calc(100% / 2 - var(--padding-mobile));
      flex-basis: calc(100% / 2 - var(--padding-mobile));
  margin-left: var(--padding-mobile);
  margin-top: var(--padding-mobile);
}

.clients__title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--accent-text-color);
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: var(--section-pb-mobile);
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients__items {
    -ms-flex-preferred-size: calc(100% / 3 - var(--padding-mobile));
        flex-basis: calc(100% / 3 - var(--padding-mobile));
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pt);
  }
  .clients__title {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
  .clients__items {
    -ms-flex-preferred-size: calc(100% / 6 - var(--padding-mobile));
        flex-basis: calc(100% / 6 - var(--padding-mobile));
  }
}

.address {
  padding-top: 20px;
}

.address__connection {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__connection:hover, .address__connection:focus {
  color: var(--accent-color);
}

.address__maps {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__maps:hover, .address__maps:focus {
  color: var(--accent-color);
}

.address__item {
  font-size: 14px;
  line-height: 1.71;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-form__action {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  margin-bottom: var(--title-padding);
}

@media screen and (max-width: 1199px) {
  .footer-form__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  padding: 16px;
  margin-bottom: var(--title-padding);
}

.footer-form__button {
  display: block;
  margin: auto;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__button:hover, .footer-form__button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__cotnainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-form__input {
    width: 358px;
    margin: 0;
  }
  .footer-form__button {
    display: inline-block;
    margin-left: 8px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 93px 15px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__action {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__lable {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__lable:nth-child(4n + 1) {
  margin-bottom: 20px;
}

.modal__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__message {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__check-link {
  color: var(--accent-color);
}

.modal__chech-desc {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__chech-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.71;
    font-size: 14px;
  }
}

.modal__chech-desc::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid;
  cursor: pointer;
  margin-right: 7px;
  border-radius: 4px;
  border-color: var(--accent-text-color);
}

.modal__tern:focus + .modal__chech-desc::before {
  border-color: var(--accent-color);
}

.modal__tern:checked + .modal__chech-desc::before {
  background-image: url(../images/svg/checkmark.svg);
  background-position: center;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .modal__chech-desc::before {
    margin-left: 12px;
  }
}

.modal__form-button {
  display: block;
  margin: auto;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 200px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: var(--padding-mobile);
  margin-bottom: 40px;
}

.modal__form-button:hover, .modal__form-button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal {
  position: relative;
  background-color: var(--background-color);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    width: 528px;
    height: 580px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.filters__list {
  margin-bottom: var(--section-pb-mobile);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters__item {
  margin-left: 8px;
  margin-top: 15px;
}

.filters__choice {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__choice:hover, .filters__choice:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filters__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.filters {
  margin-top: var(--section-pt-mobile);
  margin-bottom: var(--section-pt-mobile);
}

.card__item {
  margin-top: var(--padding-mobile);
  border: 1px solid #eeeeee;
}

.card__link {
  display: block;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.87;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover, .card__link:focus {
  -webkit-box-shadow: var(--portfolio-card-shadow);
          box-shadow: var(--portfolio-card-shadow);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  color: var(--background-color);
  overflow: hidden;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover .card__overlay,
.card__link:focus .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__content {
  padding: var(--title-padding);
}

.card__title {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) {
  .card__list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card__item {
    margin-left: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - var(--padding-mobile));
        flex-basis: calc(100% / 2 - var(--padding-mobile));
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-top: var(--section-pt);
    margin-bottom: var(--section-pb);
  }
  .card__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--padding-mobile));
        flex-basis: calc(100% / 3 - var(--padding-mobile));
    margin-left: var(--padding-mobile);
  }
}
/*# sourceMappingURL=min.css.map */