:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --color-footer: #2f303a;
  --accent-text-color: #000000;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --color-section: #f5f4fa;
  --icons-color: #afb1b8;

  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --section-pt: 94px;
  --section-pb: 94px;
  --section-pb-mobile: 60px;
  --section-pt-mobile: 60px;

  --padding-mobile: 30px;
  --title-padding: 20px;
  --items-studio-bg: rgba(47, 48, 58, 0.8);
}
