.footer {
  background-color: var(--color-footer);
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pt-mobile);
}

.footer__box {
  margin-bottom: var(--section-pb-mobile);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__link {
  display: inline-block;

  @media screen and (max-width: 1199px) {
    margin-bottom: var(--title-padding);
  }
}

.icon-footer {
  @media screen and (max-width: 1199px) {
    margin-bottom: var(--section-pt);
  }
}

.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--background-color);

  margin-bottom: var(--title-padding);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    margin-right: 70px;
    margin-bottom: 0px;
    padding-bottom: 0;
  }
}
