.footer {
  background-color: var(--color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__box {
  margin-bottom: var(--section-pb-mobile);
  text-align: center;
}

.footer__link {
  display: inline-block;
  margin-bottom: var(--title-padding);
}

.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: var(--background-color);

  margin-bottom: 20px;
}
