@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .connection__list {
    display: none;
  }

  .navigation__list {
    display: none;
  }

  .burger__button,
  .mobile-menu__close-button {
    border: none;
    background-color: transparent;
    padding: 0;

    width: 40px;
    height: 40px;

    &:focus,
    &:hover {
      fill: var(--accent-color);

      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }

  .burger__icon {
    fill: var(--accent-text-color--);
  }

  .mobile-menu__close-icon {
    width: 19px;
    height: 19px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 480px;
    height: 100vh;

    background-color: var(--background-color);
    padding: 48px 40px;

    transform: translateY(-100%) translateX(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-open {
    transform: translateY(0) translateX(-50%);
  }

  .mobile-menu__item:not(:last-child) {
    padding-bottom: 32px;
  }

  .mobile-menu_link {
    color: var(---background-color);

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .mobile-menu__item &:hover,
    .mobile-menu__item &:focus {
      color: var(--accent-color);
    }
  }

  .mobile-menu__contacts-list {
    margin-bottom: 64px;
  }

  .mobile-menu__contacts-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    &:nth-child(1) {
      padding-bottom: 32px;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }
  }

  .mobile-menu__contacts {
    position: fixed;
    bottom: 48px;
  }

  .mobile-menu__contacts-link {
    color: var(--primary-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mobile-menu_social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu__socil-item {
    padding: 0 10px;

    &:first-child {
      padding-left: 0px;
    }
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  .mobile-menu__socil-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--accent-color);
  }
}
