.advantage {
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pt-mobile);
}

@media screen and (max-width: 767px) {
  .advantage__item:not(:last-of-type) {
    margin-bottom: var(--padding-mobile);
  }
}

.advantage__box {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  max-width: 480px;
  min-height: 120px;
  background-color: var(--color-section);

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.advantage__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantage__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--padding-mobile));
    margin-top: calc(-1 * var(--padding-mobile));
  }

  .advantage__item {
    flex-basis: calc(100% / 2 - var(--padding-mobile));
    margin-left: var(--padding-mobile);
    margin-top: var(--padding-mobile);
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
  }

  .advantage__item {
    flex-basis: calc(100% / 4 - var(--padding-mobile));
    margin-left: var(--padding-mobile);
    margin-top: var(--padding-mobile);
  }
}
