.hero {
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/studio/img-1-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 118px 0;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/studio/img-1-mobile@2x.jpg);
    }
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/studio/img-1-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/studio/img-1-tablet@2x.jpg);
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/studio/img-1-desctop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/studio/img-1-desctop@2x.jpg);
    }
  }
}

.hero__title {
  display: block;

  color: var(--background-color);
  margin: auto;
  padding-bottom: var(--padding-mobile);
  // margin-left: var(--section-pb-mobile);
  // margin-right: var(--section-pb-mobile);

  max-width: 360px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

// .hero {
//   background-image: linear-gradient(
//       to left,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/studio/Img-1-desctop.jpg);
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;

//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
// }

// .hero__container {
//   text-align: center;
//   padding-top: 200px;
//   padding-bottom: 200px;
// }

// .hero__title {
//   display: block;
//   margin: auto;
//   color: var(--background-color);
//   margin-bottom: 30px;

//   width: 696px;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
// }

// @media screen and (min-width: 768px) {
//   .hero {
//     background-image: linear-gradient(
//         to left,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../../images/studio/Img-1-mobile.jpg);
//   }
//   .hero__container {
//     width: 772px;
//     height: 401px;
//   }

//   .hero__title {
//     display: block;
//     margin: auto;
//     color: var(--background-color);

//     margin-bottom: 30px;

//     max-width: 360px;

//     font-weight: 900;
//     font-size: 26px;
//     line-height: 1.16;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//   }
// }
