.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .burger__button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .navigation__list {
    display: flex;
    margin-left: 88px;
  }

  .navigation__item {
    position: relative;

    &:not(:first-child) {
      margin-left: 50px;
    }
  }

  .navigation__link {
    display: block;

    color: var(---background-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .navigation &:hover,
    .navigation &:focus {
      color: var(--accent-color);
    }
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    justify-content: space-between;
  }

  .navigation__list {
    display: flex;
    margin-left: 94px;
  }

  .navigation__item {
    position: relative;

    &:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.current {
  color: var(--accent-color);

  &::after {
    content: "";
    position: absolute;
    display: block;

    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);
  }
}
