.filters {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.filters__list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__choice {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  cursor: pointer;

  padding: 6px 22px;

  border: rgba(255, 255, 255, 0.6);

  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
