.team {
  background-color: var(--color-section);
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pt-mobile);
}

.team__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  padding-bottom: var(--padding-mobile);
}

.team__item {
  box-shadow: var(--card-shadow);
  border-radius: 4px;

  overflow: hidden;

  margin-bottom: var(--padding-mobile);
}

.team__box {
  background-color: var(--background-color);

  padding: 30px 24px;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team__proffession {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--padding-mobile));
    margin-top: calc(-1 * var(--padding-mobile));
  }

  .team__item {
    flex-basis: calc(100% / 2 - var(--padding-mobile));
    margin-left: var(--padding-mobile);
    margin-top: var(--padding-mobile);
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pt);
  }

  .team__title {
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  .team__item {
    flex-basis: calc(100% / 4 - var(--padding-mobile));
    margin-left: var(--padding-mobile);
    margin-top: var(--padding-mobile);
  }
}
